<div class="container-fluid">
  <br>
  <div class="row">
    <h1 align="center">University of Georgia</h1>
    <h4 align="center">Weather by date +/- 2 days</h4>
  </div>
  <% @readings.each do |reading| %>
    <h3>Data for: <%= reading[:date] %></h3>
    <table class="table table-striped table-bordered readings display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Measurement</th>
          <th>Min Reading</th>
          <th>Min Time</th>
          <th>Max Reading</th>
          <th>Max Time</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <% reading[:data].each do |read| %>
          <tr>
            <td><%= read[:name] %></td>
            <td><%= read[:min_reading] %></td>
            <td><%= read[:min_time].strftime("%l:%M %P") %></td>
            <td><%= read[:max_reading] %></td>
            <td><%= read[:max_time].strftime("%l:%M %P") %></td>
            <td><%= read[:avg_reading] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
        <form action="/readings" method="get">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-success" type="submit">Submit New Date</button>
            </span>
            <input type="text" class="form-control" name="date" value=<%= "#{
             @readings[2][:date].delete('-') }" %>>
          </div>
        </div>
      </form>
      <form action="/charts" method="get">
        <div class="input-group float-right col-lg-3 col-md-4 col-sm-5 col-xs-12" >
          <input type="text" class="form-control" name="date"
            value=<%= "#{ @readings[2][:date].delete('-') }" %>>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Graph Data</button>
          </span>
        </div>
      </form>
    </div>
    <br><br>
  <% end %>
</div>
