<form action="/readings" method="get">
    <input name="date" />
    <input type="submit" value="Submit Date"/>
</form>
<% @readings.each do |reading| %>
  <h3>Data for: <%= reading[:date] %></h3>
  <table class="readings display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Measurement</th>
        <th>Min Reading</th>
        <th>Min Time</th>
        <th>Max Reading</th>
        <th>Max Time</th>
        <th>Average</th>
      </tr>
    </thead>
      <tbody>
        <% reading[:data].each do |read| %>
          <tr>
            <td><%= read[:name] %></td>
            <td><%= read[:min_reading] %></td>
            <td><%= read[:min_time].strftime("%l:%M %P") %></td>
            <td><%= read[:max_reading] %></td>
            <td><%= read[:max_time].strftime("%l:%M %P") %></td>
            <td><%= read[:avg_reading] %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <form action="/charts" method="get">
    <input type="submit" value="Chart Data">
    <input type="text" value="<%= reading[:date] %>" name="date">
  </form>
  <br><br>
<% end %>
