<form action="/readings" method="get">
    <input name="date" />
    <input type="submit" value="Submit Date"/>
</form>
<% @readings.each do |reading| %>
  <h3>Data for: <%= reading[0]['entered_on'] %></h3>
  <table>
    <tr>
      <th>Measurement</th>
      <th>Min Reading</th>
      <th>Min Time</th>
      <th>Max Reading</th>
      <th>Max Time</th>
      <th>Average</th>
    </tr>
    <% reading.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.min_reading %></td>
        <td><%= item.min_time.strftime("%l:%M %P") %></td>
        <td><%= item.max_reading %></td>
        <td><%= item.max_time.strftime("%l:%M %P") %></td>
        <td><%= item.avg_reading %></td>
      </tr>
    <% end %>
  </table>
  <br>
  <form action="/charts" method="get">
    <input type="submit" value="Chart Data">
    <input type="text" value="<%= reading[0]['entered_on'] %>" name="date">
  </form>
  <br><br>
<% end %>
