<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6
      col-xs-offset-2 col-xs-8">
      <form action="/readings" method="get">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Submit Date</button>
          </span>
          <input type="text" class="form-control" name="date" placeholder=<%= "#{ (Date.today - 3.days).strftime('%Y%m%d') }" %>>
        </div>
      </form>
    </div>
  </div>
  <% @readings.each do |reading| %>
    <h3>Data for: <%= reading[:date] %></h3>
    <table id="example" class="table table-striped table-bordered readings display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Measurement</th>
          <th>Min Reading</th>
          <th>Min Time</th>
          <th>Max Reading</th>
          <th>Max Time</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <% reading[:data].each do |read| %>
          <tr>
            <td><%= read[:name] %></td>
            <td><%= read[:min_reading] %></td>
            <td><%= read[:min_time].strftime("%l:%M %P") %></td>
            <td><%= read[:max_reading] %></td>
            <td><%= read[:max_time].strftime("%l:%M %P") %></td>
            <td><%= read[:avg_reading] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <div class="row">
      <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6
        col-xs-offset-2 col-xs-8">
        <form action="/charts" method="get">
          <div class="input-group">
            <input type="text" class="form-control" value="<%= params[:date] %>" name="date" placeholder=<%= "#{ (Date.today - 3.days).strftime('%Y%m%d') }" %>>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">Graph Data</button>
            </span>
          </div>
        </form>
      </div>
    </div>
    <br><br>
  <% end %>
</div>
