<div class="container-fluid">
  <br>
<!-- Header row -->
  <div class="row">
    <h1 align="center">University of Georgia</h1>
    <h4 align="center">Weather by date +/- 2 days</h4>
  </div>
<!-- Date picker -->
  <div class="">
    <div class="col-lg-offset-9 col-lg-3 col-md-offset-8 col-md-4 col-sm-offset-7 col-sm-5 col-xs-12">
      <p>Update: <input type="text" id="datepicker" class="dog"/></p>

      <!-- <form action="/results" method="get">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Update</button>
          </span>
          <input type="text" class="form-control" name="date" value=<%= %>>
        </div>
      </form> -->
    </div>
  </div>
<!-- Chart -->
  <div class="">
    <div id="<%= @chart_display[:section] %>" style="min-width: 550px; height: 250px; margin: auto">
    <%= javascript_tag "weatherDisplay(#{ @chart_display.to_json })" %>
  </div>
  <br>
<!-- Dropdown menu -->
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Category<span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <% @results[0][:data].each do |category| %>
          <li role="presentation"><%= link_to(category[:name], "/results?category=#{category[:name]}&date=#{(@results[0][:date].to_date - 2.days).to_s.delete('-')}") %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <br><br>
<!-- Tabe data -->
  <% @results.each do |result| %>
    <table class="table table-striped table-bordered readings display" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>Measurement</th>
          <th>Min Reading</th>
          <th>Min Time</th>
          <th>Max Reading</th>
          <th>Max Time</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <% result[:data].each do |read| %>
          <tr>
            <td><%= link_to(read[:name], "/results?category=#{read[:name]}&date=#{(@results[0][:date].to_date - 2.days).to_s.delete('-')}") %></td>
            <td><%= read[:min_reading] %></td>
            <td><%= read[:min_time].strftime("%l:%M %P") %></td>
            <td><%= read[:max_reading] %></td>
            <td><%= read[:max_time].strftime("%l:%M %P") %></td>
            <td><%= read[:avg_reading] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br><br>
  <% end %>
</div>
