<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <br>
    <form action="/charts" method="get">
      <input name="date" />
      <input type="submit" value="Submit New Date"/>
    </form>
    <br>
    <% @chart_display.each do |chart_data| %>
      <div class="col-md-6">
      <div id="<%= chart_data[:section] %>" style="min-width: 500px; height: 400px; margin: 20">
      </div>
      <script>
        Highcharts.chart('<%= chart_data[:section] %>', {
          chart: { type: 'columnrange', inverted: true },
          title: { text: '<%= "#{ chart_data[:section] } variation by day +/- 2 days" %>' },
          subtitle: { text: 'Observed at the University of Georgia' },
          xAxis: { categories: <%= chart_data[:date_range].to_json.html_safe %> },
          yAxis: { title: { text: '<%= chart_data[:section] %>' } },
          tooltip: { valueSuffix: '<%= chart_data[:tooltip] %>' },
          plotOptions: {
              columnrange: {
                  dataLabels: {
                      enabled: true,
                      formatter: function () {
                          return this.y + '<%= chart_data[:tooltip] %>';
                      }
                  }
              }
          },
          legend: { enabled: false },
          series: [{ name: '<%= chart_data[:section] %>', data: <%= chart_data[:values] %> }]
        });
      </script>
      <br><br>
      </div>
    <% end %>
    <form action="/charts" method="get">
      <input name="date" />
      <input type="submit" value="Submit New Date"/>
    </form>
    <br>
  </body>
</html>
