<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <br>
    <form action="/charts" method="get">
      <input name="date" />
      <input type="submit" value="Submit New Date"/>
    </form>
    <br>
    <% binding.pry %>
    <% @chart_display.categories.each_with_index do |value, indx| %>
      <div class="col-md-6">
      <div id="<%= @chart_display.categories[indx] %>" style="min-width: 500px; height: 400px; margin: 20">
      </div>
      <script>
        Highcharts.chart('<%= @chart_display.categories[indx] %>', {
          chart: { type: 'columnrange', inverted: true },
          title: { text: '<%= "#{@chart_display.categories[indx]} variation by day +/- 2 days" %>' },
          subtitle: { text: 'Observed at the University of Georgia' },
          xAxis: { categories: <%= @chart_display.date.to_json.html_safe %> },
          yAxis: { title: { text: '<%= @chart_display.categories[indx] %>' } },
          tooltip: { valueSuffix: '<%= tooltip_value(@chart_display.categories[indx]) %>' },
          plotOptions: {
              columnrange: {
                  dataLabels: {
                      enabled: true,
                      formatter: function () {
                          return this.y + '<%= tooltip_value(@chart_display[:categories][:indx]) %>';
                      }
                  }
              }
          },
          legend: { enabled: false },
          series: [{ name: '<%= @chart_display[:categories][:indx] %>', data: <%= value %> }]
        });
      </script>
      <br><br>
      </div>
    <% end %>
    <form action="/charts" method="get">
      <input name="date" />
      <input type="submit" value="Submit New Date"/>
    </form>
    <br>
  </body>
</html>
