<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <br>
    <form action="/charts" method="get">
      <input name="date" />
      <input type="submit" value="Submit New Date"/>
    </form>
    <br>
    <% @data.each do |key, value| %>
      <% tooltip_value = case key %>
        <% when 'Wind Speed' %>
          <% ' MPH' %>
          <% when 'Wind Direction' %>
          <% ' Degrees' %>
        <% when 'Humidity' %>
          <% '%' %>
        <% when 'Raw Barometer' %>
          <% '' %>
        <% when 'UV Index' %>
          <% '' %>
        <% when 'Solar Radiation' %>
          <% '' %>
        <% else %>
          <% '°F' %>
      <%end%>
      <div class="col-md-6">
      <div id="<%= key %>" style="min-width: 500px; height: 400px; margin: 20">
      </div>
      <script>
        Highcharts.chart('<%= key %>', {
          chart: { type: 'columnrange', inverted: true },
          title: { text: '<%= "#{key} variation by day +/- 2 days" %>' },
          subtitle: { text: 'Observed at the University of Georgia' },
          xAxis: { categories: <%= @date_range.to_json.html_safe %> },
          yAxis: { title: { text: '<%= key %>' } },
          tooltip: { valueSuffix: '<%= tooltip_value %>' },
          plotOptions: {
              columnrange: {
                  dataLabels: {
                      enabled: true,
                      formatter: function () {
                          return this.y + '<%= tooltip_value %>';
                      }
                  }
              }
          },
          legend: { enabled: false },
          series: [{ name: '<%= key %>', data: <%= value %> }]
        });
      </script>
      <br><br>
      </div>
    <% end %>
    <form action="/charts" method="get">
      <input name="date" />
      <input type="submit" value="Submit New Date"/>
    </form>
    <br>
  </body>
</html>
